################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS_PROJECT_steganography/v15/Server/sqlite3
